/*style.css*/
#map { 
    height: 640px;
    width: 84%;
    display: block;
    margin: auto;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 64px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 8%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8%;
    color: #828282;
    font-size: 24px;
}
select{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 8px;
}
.data{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 8%;
}
.subheadingcenter{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #828282;
    font-size: 24px;
    font-style: italic;
}
.subheading{
    font-family: Arial, Helvetica, sans-serif;
    color: #828282;
    font-size: 24px;
    margin-left: 8%;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
    border-radius: 8px;
}
.search {
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 8px;
    background-image: url("/attachments/searchlogo.png");
    background-size: 100% 100%;
    background-clip:padding-box;
}
.buttonheader {
    border: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.container {
    height: 200px;
    position: relative;
}
.mapcontainer {
    height: 700px;
    position: relative;
    padding-top: 30px;
}
.widget {
    flex: 2;
    height: 300px;
}
.image {
    flex: 3;
    width: 50%;
    height: 300px;
    object-fit: contain;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.countrywidget {
    width: 84%;
    gap: 25px;
    display: flex;
    padding-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
}
#mapSearchContainer{
    position:fixed;
    top:20px;
    right: 40px;
    height:30px;
    width:180px;
    z-index:110;
    font-size:10pt;
    color:#5d5d5d;
    border:solid 1px #bbb;
    background-color:#f8f8f8;
}
.pointer{
    position:absolute;
    top:86px;
    left:60px;
    z-index:99999;
}